.tasks {
    background-color: white;
    list-style: none;
    padding: 20px;
    padding-left: 10px;
    margin: 0px;
    box-shadow: 0 0 3px 1px #e5e5e5;
}

.tasks__listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.tasks__listItem--hidden {
    display: none;
}

.tasks__listItemText--done {
    text-decoration: line-through;
}

.tasks__button {
    min-width: 28px;
    min-height: 28px;
    border: none;
}

.tasks__button:focus {
    outline: 2px solid black;
}

.tasks__button--first {
    margin-right: 10px;
    background-color: hsl(122, 65%, 29%);
    color: #f7fff7;
    transition: 0.5s ease;
}

.tasks__button--first:hover {
    background-color: hsl(122, 65%, 37%);
    cursor: pointer;
}

.tasks__button--last {
    margin-left: 10px;
    background-color: hsl(354, 84%, 54%);
    color: white;
    transition: 0.5s ease;
}

.tasks__button--last:hover {
    background-color: hsl(354, 84%, 62%);
    cursor: pointer;
}